{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Horizon Health Login</title>
    <link rel= "stylesheet" href= "{% static 'Login/style.css' %}" type= "text/css" />
  </head>
  <body>
    <div class='center'>
      <main>
        <form action='{% url "Login:handleLogin" %}' method='post'>
          {% csrf_token %}
          <div>
            <div class='labelbox'>
              <label for="user_name">Username: </label> <br>
            </div>
            <div class='labelbox'>
              <label for="password">Password: </label>
            </div>
          </div>
          <div>
            <div class='labelbox'>
              <input id="user_name" type="text" name="user_name"/> <br>
            </div>
            <div class='labelbox'>
              <input id="password" type="password" name="password"/>
            </div>
          </div>
          <div style='display: block'>
            <button type='submit'>Login</button>
            <a href={% url "Login:newUser" %}><button type='button'>New User</button></a>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
