{% load static %}

<link rel="stylesheet" href="{% static 'secretary/style.css'%}">

<div id="sidebar">
    <div id="header">
        <img class="header-image" src="{% static 'doctor/images/logo2.png' %}">
    </div>
	<div class="sidenav">
		<sidenav>
			<ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="create">Add Appointment</a></li>
                    <li><a href="viewAppointment">View Appointments</a></li>
                    <li><a href={% url "Login:handleLogout" %}>Log Out</a></li>
			</ul>	
			
			<div id="userbanner">
			    <div class="user-banner">Welcome</div>
			    <div class="user-banner">{{ user.user_name }}</div>
			</div
		</sidenav>
	</div>
</div>

<div id="main">
    <div id="page-title">
        <h1>Welcome</h1>
    </div>
    <div id="page-content">
        <h2>Welcome to Horizon Health</h2>
        <span>We're here to help you help your patients.</span>
    </div>
</div>
