{% load	static %}
<link rel="stylesheet" type="text/css" href="{%	static 'doctor/style.css' %}" />

<div id="sidebar">
    <div id="header">
        <img class="header-image" src="{% static 'doctor/images/logo2.png' %}">
    </div>
	<div class="sidenav">
		<sidenav>
			<ul>
                <li><a href="welcome">Home</a></li>
				<li><a href="schedule">Schedule</a></li>
				<li><a href="procedures">Procedures</a></li>
				<li><a href="patients">Patients</a></li>
				<li><a href="#">Settings</a></li>
			</ul>	
		</sidenav>
	</div>
</div>

<div id="main">
    <div id="page-title">
        <h1>Add Procedure</h1>
    </div>
    <div id="page-content">
        <form action="{% url 'doctor:post_procedure' %}" method="post">
            {% csrf_token %}
            <label for="procedure_name">Procedure Name</label>
            <input type="text" name="name" id="procedure_name"/><br />
            <label for="procedure_description">Procedure Description</label>
            <input type="text" name="description" id="procedure_description"/><br />
            <input class="button" type="submit" value="Submit"/>
        </form>
    </div>
</div>
