{% load	static %}
<link rel="stylesheet" type="text/css" href="{%	static 'doctor/style.css' %}" />

<div id="header">+
	<div class="wrap">
		<div id="title-area">
			<h1 id="title">
				<a href="#">Horizon	Health</a>
			</h1>
		</div>

		<nav>
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#">How	It Works</a></li>
				<li><a href="#">Contacts</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Sign in</a></li>
			</ul>
		</nav>
	</div>

</div>
<div >
	<img class="header-image" src="{% static 'doctor/images/image.jpeg' %}">
</div>

<div id="sidebar">
	<div class="sidenav">
		<h2 id="titleside">
		   Welcome
		</h2>

		<sidenav>
			<ul>
				<li><a href="#">Schedule</a></li>
				<li><a href="#">Procedures</a></li>
				<li><a href="#">Patients</a></li>
				<li><a href="#">Settings</a></li>
			</ul>	
		</sidenav>
	</div>
</div>