{% load	static %}
<link rel="stylesheet" type="text/css" href="{%	static 'doctor/style.css' %}" />

<div id="header">
	<div class="wrap">
		<div id="title-area">
			<h1 id="title">
				<a href="welcome">Horizon Health</a>
			</h1>
		</div>
		<nav>
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#">How	It Works</a></li>
				<li><a href="#">Contacts</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href={% url: "Login:handleLogout" %}>Sign in</a></li>
			</ul>
		</nav>
	</div>
</div>
<div id="sidebar">
	<div class="sidenav">
		<sidenav>
			<ul>
				<li><a href="../schedule">Schedule</a></li>
				<li><a href="../procedures">Procedures</a></li>
				<li><a href="../patients">Patients</a></li>
				<li><a href="#">Settings</a></li>
			</ul>
		</sidenav>
	</div>
</div>

<div id="content">
	<form action="{% url 'doctor:add_new_record' patient_id=patient.id %}" method='post'>
        {% csrf_token %}
          <div >
            <label > Note</label>
               <input id="note" name="note" type="text" /><br>
          </div>
        <button type='submit' style='display: block'>Submit</button>
      </form>
</div>
