{% load	static %}
<link rel="stylesheet" type="text/css" href="{%	static 'doctor/style.css' %}" />

<div id="sidebar">
    <div id="header">
        <img class="header-image" src="{% static 'doctor/images/logo2.png' %}">
    </div>
	<div class="sidenav">
		<sidenav>
			<ul>
                <li><a href="welcome">Home</a></li>
				<li><a href="schedule">Schedule</a></li>
				<li><a href="procedures">Procedures</a></li>
				<li><a href="">Patients</a></li>
				<li><a href="#">Settings</a></li>
			</ul>	
		</sidenav>
	</div>
</div>

<div id="main">
    <div id="page-title">
        <h1>Schedule</h1>
    </div>
    <div id="page-content">
        {% if patient_list %}
        <table>
            <tbody>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                {% for patient in patient_list %}
                <tr>
                    <td><a href="patient_records/{{ patient.id }}">View Records</a></td>
                    <td>{{ patient.id }}</td>
                    <td>{{ patient.first_name }}</td>
                    <td>{{ patient.last_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No patients assigned</p>
        {% endif %}
    </div>
</div>

<div id="content">
	<h1>Patients</h1>
	
</div>
