{% load	static %}
<link rel="stylesheet" type="text/css" href="{%	static 'doctor/style.css' %}" />

<div id="sidebar">
    <div id="header">
        <img class="header-image" src="{% static 'doctor/images/logo2.png' %}">
    </div>
	<div class="sidenav">
		<sidenav>
			<ul>
                <li><a href="welcome">Home</a></li>
				<li><a href="">Procedures</a></li>
				<li><a href="patients">Patients</a></li>
				<li><a href={% url "Login:handleLogout" %}>Log Out</a></li>
			</ul>
			
			<div id="userbanner">
			    <div class="user-banner">Welcome</div>
			    <div class="user-banner">{{ user.user_name }}</div>
			</div
		</sidenav>
	</div>
</div>

<div id="main">
    <div id="page-title">
        <h1>Procedures</h1>
    </div>
    <div id="page-content">
	{% if procedure_list %}
	<table>
		<tbody>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
			{% for procedure in procedure_list %}
			<tr>
				<td>{{ procedure.id }}</td>
				<td>{{ procedure.name }}</td>
				<td>{{ procedure.description }}</td>
				<td>
				<form action="{% url 'doctor:deleteProcedure' procedure.id %}" method="POST">
					{% csrf_token %}
					<input class="button" type="submit" value="Delete">
				</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No Procedures Available</p>
	{% endif %}

	<a class="button" href="add_procedure">Add Procedure</a>
    </div>
</div>
