
#sidebar {
    padding-top: 20px;
    background-color: #13505b;
    width: 175px;
    position: absolute;
    height: 100%;
    overflow: auto;
}

.header-image {
        width: 100%;
}

.sidenav li{
  display: vertical;
 }
.sidenav a {
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    display:  block;
}
.sidenav ul{
  list-style: none;
  padding: 0;
}

.sidenav a:hover {
    color: #0067b1;
    background-color: #B0C4DE;
}


#main {
    margin-left: 175px;
    width: 100%;
}

#page-title {
    background-color: #50c9ce;
    padding-left: 15px;
    color: #FFFFFF;
}

#page-content {
    padding-left: 15px;
}

body {
  font: normal 18px/1.5 "Montserrat", helvetica, arial, sans-serif;
}
