{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'patient/style.css' %}" />

<div id="sidebar">
    <div id="header">
        <img class="header-image" src="{% static 'patient/images/logo2.png' %}">
    </div>
	<div class="sidenav">
		<sidenav>
			<ul>
                <li><a href="/patient">Home</a></li>
				
	                <li><a href="#">Procedures</a></li>
	                <li><a href="">Schedule an appointment</a></li>
	                <li><a href="appointment">My Appointments</a></li>
	                <li><a href="settings">Settings</a></li>
	                <li><a href={% url "Login:handleLogout" %}>Log Out</a></li>
		</ul>	
		</sidenav>
	</div>
</div>

<div id="main">
    <div id="page-title">
        <h1>Schedule an Appointment</h1>
    </div>
    <div id="page-content">
        <div>
      <form action="{% url 'patient:save_appointment'%}" method='post'>
        {% csrf_token %}
        <div>
            <div >
            <label > Procedure</label>
               <input id="procedure" name="procedure" type="text" /><br>
          </div>
          <div >
            <label > Name</label>
               <input id="name" name="name" type="text" /><br>
          </div>
            <div >
            <label > Address</label>
               <input id="address" name="address" type="text" /><br>
          </div>
            <div >
            <label > Phone number</label>
               <input id="phone_number" name="phone_number" type="text" /><br>
          </div>
            <div >
            <label > City</label>
               <input id="city" name="city" type="text" /><br>
          </div>
            <div >
            <label > State</label>
               <input id="state" name="state" type="text" /><br>
          </div>
            <div >
            <label > Zip Code</label>
               <input id="zip_code" name="zip_code" type="text" /><br>
          </div>
          <div >
            <label >Doctor's name</label>
               <input id="doctor_name" name="doctor_name" type="text" />
          </div >
            <div >
            <label >Date</label>
               <input id="date" name="date" type="text" />
          </div>
        </div>
        <button class="button"' type='submit' style='display: block'>Submit</button>
      </form>
    </div>
    </div>
</div>

