{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'patient/style.css' %}" />

<!--<span class = "colored-text"> Hello Nelli</span>-->
<div id="header">
    <div class="wrap">
        <div id="title-area">
            <h1 id="title">
                <a href="#">Horizon Health</a>
            </h1>
        </div>

        <nav>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Sign in</a></li>
            </ul>
        </nav>
    </div>

</div>
<div >
    <img class="header-image" src="{% static 'patient/images/image.jpeg' %}">
</div>

<div id="sidebar">
    <div class="sidenav">
        <h2 id="titleside">
           Welcome
        </h2>

        <sidenav>
            <ul>
                <li><a href="#">Procedures</a></li>
                <li><a href="#">Schedule an appointment</a></li>
                <li><a href="#">My Appointments</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
            </sidenav>

    </div>

     </div>


    <div class="table">
        <h2>
            <table>
  <tr>
    <th>Procedure</th>
    <th>Doctor</th>
    <th>Hospital</th>
      <th>Address</th>
  </tr>
  <tr>
    <td>Colonoscopy</td>
    <td>Maria Anders</td>
    <td>State Hospital</td>
      <td>Utah</td>
  </tr>
  <tr>
    <td>X-Ray</td>
    <td>Francisco Chang</td>
    <td>Hospital</td>
       <td>Texas</td>
