{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'patient/style.css' %}" />

<div id="sidebar">
    <div id="header">
        <img class="header-image" src="{% static 'patient/images/logo2.png' %}">
    </div>
	<div class="sidenav">
		<sidenav>
			<ul>
                <li><a href="/patient">Home</a></li>
				
	                <li><a href="#">Procedures</a></li>
	                <li><a href="add_appointment">Schedule an appointment</a></li>
	                <li><a href="appointment">My Appointments</a></li>
	                <li><a href="settings">Settings</a></li>
                		<li><a href={% url "Login:handleLogout" %}>Log Out</a></li>
		</ul>	
		</sidenav>
	</div>
</div>

<div id="main">
    <div id="page-title">
        <h1>Settings</h1>
    </div>
    <div id="page-content">
      <form action="{% url 'patient:update_patient' patient_id=patients.id %}" method='post'>
        {% csrf_token %}
        <div>
          <div >
            <label > First name</label>
               <input id="firstname" name="firstname" type="text" value={{patients.first_name}} ><br>
          </div>
          <div >
            <label >Last name </label>
               <input id="lastname" name="lastname" type="text" value={{patients.last_name}} >
          </div >
              <div >
            <label >Date of Birth</label>
               <input id="dob" name="dob" type="text" value={{patients.date_of_birth}} >
          </div >
              <div >
            <label >Phone Number </label>
               <input id="phone_number" name="phone_number" type="text" value={{patients.phone_number}} >
          </div >
        </div>
        <button class="button" type='submit' style='display: block'>Submit</button>
      </form>
    </div>
</div>

